{% extends 'app/layout.html' %}

{% block body %}
    {% comment %} <a href="addtask">Post task and also change the class</a> {% endcomment %}
    
    <div class="container-fluid py-4">
        <div class="row align-items-md-stretch">
            {% for i in res %}
                <div class="col-md-14" style="padding-bottom: 3ch">
                    <div class="h-100 p-5 text-bg-dark rounded-4">
                        <h2><u><i>{{i.6}}</i></u></h2>
                        <p>{{i.1}}</p>
                        <form action="taskdetails/{{i.0}}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-secondary" type="submit">
                                Details
                            </button>
                        </form>
                    </div>
                </div>

                
                {% empty %}
                    <div class="h-100 p-5 text-bg-dark rounded-3">
                        No tasks to show
                    </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}  